@use "@styles/variables.module.scss" as*;
@use "@styles/mixin.module.scss" as*;
.container{
    @include flex_box_custom(center, center, 0px);
    flex-direction: column;
    .search{
        @include flex_box_custom(flex-start, center, 0px);
        .input{
            width: 400px;
            padding-right: 11px;
        }
        .seBut{
            width: 80px;
            padding-bottom: 15px;
        }
    }

    .product{
    height: 500px;
    width: 100%;
    overflow-y: auto;

    .containerListProducts{
    @include flex_box_custom(flex-start, flex-start, 16px);
    margin-top: 10px;
    flex-wrap: wrap;
    height: auto;
}
}
.product::-webkit-scrollbar {
  display: none; /* ẩn trong Chrome, Safari, Edge mới */
}
}

