@use "@styles/variables.module.scss" as*;
@use "@styles/mixin.module.scss" as*;

.container {
    @include flex_box_custom(space-between, space-between, 0px);
    padding: 30px 20px 0 20px;
    flex-direction: column;
    height: 92vh; 
    .boxContent {
        height: 90%;
        overflow-y: scroll;
    }
    .boxContent::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
    .boxBtn{
        @include flex_box_custom(center, center, 10px);
        flex-direction: column;
    }
    .subTotal{
        @include flex_box_custom(space-between, space-between, 0px);
    }
}