@use "@styles/variables.module.scss" as*;
@use "@styles/mixin.module.scss" as*;
.containerBody{
    padding-top: 83px;
}
.containerStep{
    background-color: #fafafa;
    @include flex_box_custom(center,center, 0px);
    padding: 30px 0;
    flex-direction: column;
    .steps{
         @include flex_box_custom(center,center, 0px);
    }
    .line{
        min-width: 120px;
        height: 1px;
        background-color: #e1e1e1;
        margin: 0 20px 0 20px;
    }
    .textStep{
        padding: 20px 0 20px 0;
        margin-top: 20px;
        font-size: 16px;
        color: $four_color;
    }
    .stepper{
        @include flex_box_custom(center,center, 10px);
        text-transform: uppercase;
        cursor: pointer;
        .stepNumber{
            @include flex_box_custom(center,center,0);
            background-color: #333;
            width: 28px;
            height: 28px;
            border-radius: 50%;
            color: $white_color;
        }
        .isDisable{
            background-color: transparent;
            color: #9a9a9a;
            border: 1px solid #9a9a9a;
        }
        .stepContent{
            color: $four_color;
            font-size: 16px;
        }
        .isDisableContent{
            color: #9a9a9a;
        }
    }
}
.containerContent{
    @include flex_box_custom(space-between, flex-start, 10px);
    padding-top: 60px;  
}
.contentLeft{
.cartTable{
    width: 100%;
    border-collapse: collapse;
    border-bottom: 1px solid #bababa;
    th{
        font-size: 16px;
        font-weight: 400;
        color: #666666;
        text-transform: capitalize;
        padding: 14px;
        text-align: center;
        border-bottom: 1px solid #bababa;
    }
    th:first-child{
        text-align: left;
        padding-left: 0;
    }
    th:last-child{
        text-align: right;
        padding-right: 0;
    }
    td{ 
        text-align: center;
        vertical-align: top;
       padding: 20px;
       select{
        width: 70px;
        height: 40px;
        color:#666666;
        text-indent: 10px;
       }
    }
    td:first-child{
        @include flex_box_custom(space-between, flex-start, 0);
        padding-left: 0;
        padding-right: 0;
        img{
            max-width: 80px;
            height: 96px;
            object-fit: cover;
        }
        .infor{
            @include flex_box_custom(flex-start, flex-start,10px);
            flex-direction: column;
            width: 200px;
            padding: 0 40px 0 20px;
            :first-child{
                color: $primary_color;
                font-size: 16px;
                text-align: start;
            }
            :last-child{
                font-size: 14px;
                color: $primary_color;
                span{
                    color: #9a9a9a;
                }
            }
       }
    }
    td:last-child{
        text-align: right;
        padding: 20px 10px 10px 10px;
    }
    .price{
        color: #9a9a9a;
    }
   
}
.code{
    @include flex_box_custom(space-between, center, 0);
    height: 50px;
    padding-top: 10px;
    .codeBut{
        display: flex;
        height: 37px;
        width: 360px;
        input{
            padding: 20px;
            width: 100%;
        }
        .but1{
            width: 50px;
        }
    }
}
}
.contentRight{
    border: 2px solid black;
    width: 429px;
    height: 249px;
    padding: 20px;
    @include flex_box_custom(flex-start, flex-start,0);
    flex-direction: column;
    .line{
        width: 100%;
        height: 1px;
        background-color: #666666;
        margin: 20px 0;
    }
    .subTotal{
        @include flex_box_custom(space-between, center,0);
        width: 100%;
        margin: 10px 0;
        font-size: 16px;
        color: #9a9a9a;
    }
    .subTotal1{
        font-size: 20px;
        color: $primary_color;
    }
    .but2{
        width: 100%;
        padding: 12px 0;
    }
   
}