@use "@styles/variables.module.scss" as*;
@use "@styles/mixin.module.scss" as*;
.box{
    background-color: white;
    padding: 10px;
    border-radius: 4px;
    margin-top: 145px;
}
.title {
    font-size: 18px;
    color: $seconddary_color;
}