.container{
    padding: 30px 20px 0 20px;
    .title{
        font-size: 18px;
        text-align: center;
        margin-bottom: 30px;
    }
    .boxRememberMe{
        margin-bottom: 30px;
        input{
            margin-right: 10px;
        }
        span {
            font-size: 14px;
        }
    }
    .lostPass{
        margin-top: 20px;
        text-align: center;
        font-size: 14px;
        &:hover{
            text-decoration: underline;
            cursor: pointer;
        }
    }
    .btn{
        width: 100%;
        margin-bottom: 10px;
    }
}