@use '@styles/mixin.module.scss' as *;
@use '@styles/variables.module.scss' as *;
.containerPro{
height: 100vh;
width: 100%;
@include flex_box_custom(center,center,0);
overflow-Y:auto;
 &::-webkit-scrollbar{
    display: none;
  }

.container{
    width: 320px;
    @include flex_box_custom(center, flex-start, 10px);
    flex-direction: column;
    padding-top: 30px;
}
.wrapSlide{
    height: 400px;
    width: 100%;

    @include flex_box_custom(space-between, center, 0px);
        overflow: hidden;
    .slide{
        width: 100%;
        height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
     transition: 500ms;
        position: relative;
    .img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        img{
            flex: 0 0 100%;
           
        }
       
    }
    }
    .navigate{
         font-size: 40px;
          position: absolute;
          width: 50px;
          height: 50px;
          border-radius: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          transition: 100ms;
          opacity: 0;
          font-weight: 100;

    }
    .navigate:hover{
        border: 3px solid black;
        color: #9a9a9a;
    }
    .navigateLeft{
       
        left: 20px;
        z-index: 1;
        transform: translateX(-20px);
    }
    .navigateRight{
        right: 20px;
        transform: translateX(20px);
    }
}
.wrapSlide:hover .navigate{
opacity: 1;
transform: translateX(0);
}
.size{
    @include flex_box_custom( flex-start, flex-start, 20px);
    flex-direction: column;
    width: 100%;
    .sizeChoose{
        @include flex_box_custom(flex-start, center, 10px)
    }
    .sizeItem{
        @include flex_box_custom(center,center,0);
        border: 1px solid #9a9a9a;
        width: 30px;
        height: 30px;
        padding: 1px;
        cursor: pointer;
    }
    .sizeItemChoose{
        border: 2px solid black;
    }
    .button{
    @include flex_box_custom(space-between, center, 5px);
    padding-bottom: 20px;
    width: 100%;
    .select{
        height: 40px;
        width: 80px;
        text-indent: 10px;
        color: #9a9a9a;
        border: 1px solid #9a9a9a;
    }
    .button1{
        height: 40px;
        width: 200px;
    }
}
}
}
 