@use "@styles/variables.module.scss" as*;
@use "@styles/mixin.module.scss" as*;
.container{
    position: relative;
    .overlay{
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: #0000004d;
        z-index: 1000;
        transition: all 0.3s ease;
    }
    .sideBar{
        position: fixed;
        top: 0;
        right: 0;
        width: 350px;
        background-color: white;
        z-index: 1001;
        height: 100vh;
        transition: all 0.3s ease;
        transform: translateX(370px);
    }
    .slideSideBar{
        transition: all 0.9s ease;
        transform: translateX(0);
    }
    .boxIcon{
        @include flex_box_custom(center, center , 0px);
        position: absolute;
        top: 30px;
        left: -60px;
        width: 35px;
        height: 35px;
        background-color: white;
        cursor: pointer;
        border-radius: 50%;
        transition: all 0.3s ease;
        &:hover{
            background-color: #ccc;
        }
        
    }
}
.container1{
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 999999;
    position: fixed;
    transform: translateY(-100%);
    transition: all 0.3s ease;
    opacity: 0;
    
    .boxIcon1{
        height: 40px;
        width: 40px;
        top: 20px;
        right: 20px;
        position: absolute;
        font-size: 40px;
        cursor: pointer;
    }
    .search{
        width: 100%;
        height: 100%;
        margin-top: 30px;
    }
}
.container1Slide{
    opacity: 1;
    transform: translateY(0);
    transition: all 0.3s ease;
    
}