
@use "@styles/variables.module.scss" as*;
@use "@styles/mixin.module.scss" as*;
.boxImg {
    width: 300px;
    height: 100%;
    position: relative;
  img  {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 500ms;
    }
    &:hover .showImgHover{
        opacity: 1;
        transition: all 500ms;
    }
    .showImgHover{
        opacity: 0;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
    .showFnWhenHover{
        position: absolute;
        opacity: 0;
        bottom: 20px;
        right: 20px;
        background: white;
        transform: translateX(20px);
        transition: all 300ms;
    }
    &:hover .showFnWhenHover{
        opacity: 1;
        transform: translateX(0);
        transition: all 200ms;
    }
    .boxicons {
        width: 40px;
        height: 40px;
        @include flex_box_custom(center,center, 0px);
        img{
            width: 17px;
            height: 17px;
        }
        &:hover{
            background-color: rgb(211, 211, 211);
            transition: background-color 500ms;
        }
    }
}
.title{
    font-size: 16px;
    color: $four_color;
    margin: 6px 0px;
}
.prices{
    font-size: 14px;
    color: $thr_color;
    font-weight: 400;
}
.boxSize {
    @include flex_box_custom(center, center, 10px);
    .size {
        @include flex_box_custom (center,center,0px);
        border: 1px solid #e1e1e1;
        padding: 4px 6px;
        font-size: 10px;
        cursor: pointer;
        &:hover {
        border: 1px solid $primary_color;
        transition: border 500ms;
    }
     margin: 10px 0px;
    }   
    .activeSize{
        border: 1px solid $primary_color;
    }
}
.clear {
    font-size: 14px;
    color: #a2a2a2;
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
    opacity: 0;
  transform: translateY(-10px);
  transition: all 1s ease;
}
.showClear{
    opacity: 1;
  transform: translateY(0);
}
.textCenter {
    text-align: center;
}
.containerItem {
    @include flex_box_custom(flex-start, center, 20px);
    margin-top: 10px;
    .content{
         @include flex_box_custom(center, flex-start, 5px);
         flex-direction: column;
    }
}