
@use '@styles/mixin.module.scss' as*;
@use '@styles/variables.module.scss' as *;

.container {
    @include flex_box_custom(center,center, 0px);
    background-image: url(../../assets/image/02-SLIDESHOW-1.jpeg);
    min-height: 750px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center
}
.content{
    @include flex_box_custom(center,center,0px);
    flex-direction: column;
}
.title {
    font-size: 42px;
    color: $four_color;
    font-weight: 400;
    margin: 15px 0;
}
.des {
    color: $thr_color;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 25px;
}